.bg_black_ma {
  flex-direction: column;
}
.title_group {
  padding: 10px;
  text-transform: uppercase;
  background-color: #fff;
  margin-bottom: 10px;
}

.sc {
  margin: 0;
  display: flex;
  width: 100%;
}

img {
  width: 25px;
}
